# This file is a template for environment variables. Copy it to .env and fill in the values.

##########################
# Hugging Face API Token #
##########################
HF_TOKEN="hf_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"